<extend name="Public:wap" />
<block name="section-body">
<div class="container">
<form role="form" id="myForm"  style="padding-top:60px;" action="{:U('order')}" method="post">
	<div class="panel" >
       <!--商品信息-->
		<div  >
			  <!--<div class="media-left"  style="display:table-cell;vertical-align:middle;">-->
				<!--<a href="#">-->
				  <!--<img class="media-object" src="{$product[icon]}" width="64px" height="64px" alt="{$product[name]}">-->
				<!--</a>-->
			  <!--</div>-->
			  <div class="media-body"  style="display:table-cell;padding-left:10px;">
				<h3 class="media-heading">{$info.order_number}</h3>
				<p>订单编号<span class="badge pull-right  alert-danger">{$info.order_number}</span></p>
			  </div>
		</div>      
		
	<div class="form-group" >
			<p class="alert alert-warning"> 
			<span class="glyphicon glyphicon-exclamation-sign" ></span>
			应支付金额:<span class="badge pull-right  alert-danger" id="total-cost">
			￥{$info.total_fee_money}元</span>
	</p>
			
	</div>
	</div>
	<div class="panel" >
	<div class="form-group">
        <a class="btn btn-success btn-block" onclick="callwxpay()">微信支付</a>
	</if>
    </div>
	
  </div>
 </form> 
</div>
</block>
<block name="section-script">
<script type="text/javascript">


	function jsApiCall()
	{
		WeixinJSBridge.invoke(
				'getBrandWCPayRequest',
				<?php echo $jsApiParameters; ?>,
				function(res){
//					alert(res.err_msg);
					if(res.err_msg == "get_brand_wcpay_request:ok" ) {

						window.location.href="/weixin/Order/detail/order_id/{$info.id}";
					}else{

						window.location.href="/weixin/Order/pay/order_id/{$info.id}";

					}
//					alert(res.err_msg);
					//alert("{$info.id}");
				}
		);
	}

		function callwxpay()
		{
			if (typeof WeixinJSBridge == "undefined"){
			    if( document.addEventListener ){
			        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
			    }else if (document.attachEvent){
			        document.attachEvent('WeixinJSBridgeReady', jsApiCall);
			        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
			    }
			}else{
			    jsApiCall();
			}
		}
	</script>
</block>
