<extend name="Public/base"/>
<block name="body">
  <div class="fixed-bar" id="User_Bar">
    <div class="item-title">
      <h3>用户</h3>
      <ul class="tab-base">
        <if condition="Is_Auth('Admin/Bourse/index')">
          <li><a href="{:U('Admin/Bourse/index')}"><span>列表</span></a></li>
        </if>
        <li><a class="current"href="{:U('Admin/Bourse/add')}"><span>新增</span></a></li>
      </ul>
    </div>
  </div>
  <form id="User_Form" method="post" enctype="multipart/form-data">
    <table class="table tb-type2 nobdb">
      <tbody>
        <tr>
          <td colspan="2" class="required"><label for="for_name">交易所名字:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input name="name" type="text" class="easyui-textbox" style="height:30px;" value="" data-options="required:false"></td>
          <td class="vatop tips"></td>
        </tr>
        <tr>
          <td colspan="2" class="required"><label for="for_name">logo:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input class="easyui-filebox" name="logo"  style="width:100%" data-options="required:false"></td>
          <td class="vatop tips"></td>
        </tr>
        <tr>
          <td colspan="2" class="required"><label for="for_name">软件下载地址:</label></td>
        </tr>
        <tr class="noborder">
          <td class="vatop rowform"><input name="url" type="text" class="easyui-textbox" style="height:30px;" value="" data-options="required:false"></td>
          <td class="vatop tips"></td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="tfoot">
          <td colspan="2"><a class="easyui-linkbutton" href="JavaScript:void(0);" onclick="$('#User_Form').submit();" data-options="iconCls:'iconfont icon-edit'"><span style="font-size: 14px; font-weight: 600;">提交</span></a></td>
        </tr>
      </tfoot>
    </table>
  </form>
</block>
